<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/joueurs"></ion-back-button>
    </ion-buttons>
    <ion-title>Joueur Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Avatar:</ion-label>
    <img [src]="avatarImage" *ngIf="avatarImage" width="100" height="100">
  </ion-item>
  <ion-item>
    <ion-label>Prénom:</ion-label>
    <ion-input [(ngModel)]="editedJoueur.prenom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nom:</ion-label>
    <ion-input [(ngModel)]="editedJoueur.nom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Parties gagnées: {{ joueur.partiesGagnees }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-button (click)="uploadPhoto()">
      Ajouter une photo
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="save()">
      Enregistrer
    </ion-button>
    <ion-button (click)="cancel()">
      Annuler
    </ion-button>
  </ion-item>
</ion-content>