<ion-header>
  <ion-toolbar>
    <ion-title>Joueurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item-sliding *ngFor="let joueur of joueurs"> 
      <ion-item (click)="joueurDetails(joueur)">
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>{{joueur.firstName}} {{joueur.lastName}}</ion-label>
        </ion-chip>
      </ion-item> 
      <ion-item-options side="end"> <ion-item-option color="danger">Delete</ion-item-option> </ion-item-options>
    </ion-item-sliding> 
  </ion-list> 
</ion-content>
